{% extends 'notebook/nav_layout.html.twig' %}

{% block body %}
 <h1>Liste des personnes</h1>
    {% for flashMessage in app.session.flashbag.get('message_delate') %}
     <div class="alert ">
         {{ flashMessage }}
     </div>
    {% endfor %}
<table>
 <thead>
 <tr>
  <th >Id </th>
  <th >Nom</th>
  <th >Prenom</th>
  <th >Tél</th>
  <th >Email</th>
  <th >Profession</th>
  <th>Status</th>
  <th >Commentaire</th>
  <th >Ajouté le</th>
  <th >Nom Carnet</th>
  <th ></th>

 </tr>
 </thead>
 <tbody>

 {% for person in persons %}
  <tr>
   <th >{{ person.id }}</th>
   <td>{{ person.name}}</td>
   <td>{{ person.firstname }}</td>
   <td>{{ person.phone }}</td>
   <td>{{ person.email }}</td>
   <td>{{ person.profession }}</td>
   <td>{% if person.status == 1 %}retraité {% elseif person.status == 0 %}non retraité {% endif %}</td>
   <td>{{ person.comments }}</td>
   <td>{{ person.createdAt|date("m/d/Y") }}</td>
   <td>{{ person.getNoteBook().name }}</td>
   <td><a class="btn btn-danger" href="{{ path('delate_person', {'id_person': person.id})}}" role="button"> Supprimer </a> </td>
 {% endfor %}

 </tbody>
</table>
<div class="center">
    {{ knp_pagination_render(persons) }}
</div>
{% endblock %}
